* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --gradient-clr: linear-gradient(to right, #e27b2d, #e0007b);
  --font-clr: #ffff;
  --font-clr-dark: rgb(0, 0, 0);
  --font-clr-light: #ffff;
  --primary-clr: #ffff;
  --secondary-clr: rgb(225, 225, 225);
  --accent-clr: #e0007b;
}

.darkmode {
  --gradient-clr: linear-gradient(to right, #8d8d8d, #000000);
  --font-clr: #ffff;
  --font-clr-dark: #ffff;
  --font-clr-light: rgb(0, 0, 0);
  --primary-clr: #000000;
  --secondary-clr: rgb(208, 208, 208);
  --accent-clr: #e27b2d;
}

.toggle-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 10px;
}

#darkmode-toggle {
  background-color: transparent;
  color: #fff;
  border: none;
}

header {
  background: var(--gradient-clr);
  color: var(--font-clr);
  padding: 2rem;
  text-align: center;
  height: 23rem;
}

h1 {
  text-align: center;
  margin: 3rem 0 2rem 0;
  font-size: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-right: 2rem;
}

.nav-btn-container {
  display: flex;
  gap: 10px;
}

nav button {
  padding: 1em;
  border-radius: 20px;
  border: 3px solid var(--font-clr);
  background: none;
  color: var(--font-clr);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

nav a {
  text-decoration: none;
}

main {
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-container > input {
  margin-top: 2rem;
  width: 40%;
  padding: 1em;
  border-radius: 20px;
}

.btn-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.btn-container > button {
  padding: 1em;
  border-radius: 20px;
  border: 3px solid var(--accent-clr);
  background: none;
  color: var(--accent-clr);
  font-weight: bold;
  cursor: pointer;
}

.charactersList {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  width: 300px;
  height: 350px;
  border-radius: 5px;
  background-color: #d4d4d4;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  overflow: hidden;
  text-align: center;
}

.match-btn,
.delete-btn,
.profile-btn {
  padding: 0.5rem;
  margin: 2em 1em 0 1em;
  width: 7em;
  border: 3px solid var(--accent-clr);
  font-weight: bold;
}

.match-btn {
  background-color: var(--accent-clr);
  color: var(--font-clr);
}

.delete-btn {
  border: 3px solid var(--accent-clr);
  color: var(--accent-clr);
}

.profile-top {
  background: var(--gradient-clr);
  padding: 1rem;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  border: 5px solid var(--font-clr-light);
}

.profile-bottom {
  text-align: center;
}

.match-container {
  width: 80%;
  height: 400px;
}

.hide {
  display: none;
}
