body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 18px;
  font-family: sans-serif;
  background: var(--gradient-clr);
}

:root {
  --gradient-clr: linear-gradient(to right, #e27b2d, #e0007b);
  --font-clr: #ffff;
  --font-clr-dark: rgb(0, 0, 0);
  --font-clr-light: #ffff;
  --primary-clr: #ffff;
  --secondary-clr: rgb(225, 225, 225);
  --accent-clr: #e0007b;
}

.darkmode {
  --gradient-clr: linear-gradient(to right, #8d8d8d, #000000);
  --font-clr: #ffff;
  --font-clr-dark: #ffff;
  --font-clr-light: rgb(0, 0, 0);
  --primary-clr: #000000;
  --secondary-clr: rgb(208, 208, 208);
  --accent-clr: #e27b2d;
}

.toggle-container {
  padding: 4rem 1rem 0 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#darkmode-toggle {
  background-color: transparent;
  color: #fff;
  border: none;
}

h1 {
  font-size: 3em;
  color: var(--font-clr);
}

.container {
  width: 25rem;
  background-color: var(--primary-clr);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  color: var(--font-clr-dark);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form-txt {
  font-size: 2rem;
  text-align: center;
}

form > input {
  padding: 0.8rem;
  background-color: var(--secondary-clr);
  border: 1px solid black;
  border-radius: 10px;
}

input[type="password"] {
  background-color: var(--secondary-clr);
}

form > button {
  padding: 1rem;
  background-color: var(--accent-clr);
  border: none;
  border-radius: 10px;
  color: var(--font-clr);
  font-weight: bold;
}

form > button:hover {
  background-color: #2ad262;
}

form a {
  text-align: center;
  margin-top: 1rem;
}

#error-message,
#error-message-login {
  color: red;
  font-size: 14px;
  font-weight: bold;
}
